@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
* {
    box-sizing: border-box;
}
:root {
    --empty: #b8deff;
    --bomb: #F0D90A;
    --hidden: #000000; 
}
body {
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
a {
    text-decoration: none;
    color: maroon;
}
h1, h3 {
    margin: 15px auto;
    font-family: Bungee, Helvetica, sans-serif;
    font-size: 3vw;
    text-align: center;
}
p {
    font-size: 16px;
}
.board-sizes {
    display: flex;
}
main {
    background-color: white;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.board{
    display: none;
    width: 300px;
    height: 300px;
    background-color: var(--hidden);
    grid-area: 1 / 1 / 3 / 2;
    z-index: 0;
}
.square{
    border: 1px solid white;
    background-color: var(--hidden);
    font-size: 0px;
    max-width: 100%;
    z-index: 1;
}
.msg {
    display: none;
    background-color: black;
    font-size: 3vw;
    font-family: Bungee, Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: yellow;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 3 / 2;
    z-index: 2;
}
.msg > p {
    padding: 40% 10%;
    width: 100%;
    height: auto;
}
.replay, .board-size {
    cursor: pointer;
    width: 110px;
    height: auto;
    font-size: 16px;
    background-color: rgba(255, 255, 6, 0.988);
    font-family: Bungee, Impact, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid black;
    word-wrap: break-word;
    color: black;
}
.board-size:hover {
    background-color: var(--bomb);
}
.replay {
    display: none;
    height: auto;
    background-color: rgb(37, 194, 37);
    width: 120px;
}
.replay:hover {
    background-color: rgb(121, 255, 121);
}
.directions {
    font-size: 18px;
}
button#hidden {
    background-color: var(--hidden);
}
button#safe {
    background-color: var(--empty);
    cursor: not-allowed;
    font-size: 1.5vmin;
    font-weight: 700;
}
button#bomb {
    background-color: var(--bomb);
    max-width: 100%;
    height: auto;
    font-size: 1.5vmin;
    text-align: center;
}
button#flag {
    background-image: url(../assets/flag.png);
    image-rendering: auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}
footer > .copyright {
    font-size: 10px;
}
footer > .social {
    display: flex;
}
.socials {
    padding: 0 5px;
}
.socials img {
    width: 3vw;
    height: auto;
}
@media only screen and (min-width: 768px) {
    .board {
        width: 500px;
        height: 500px;
    }
}